#blife{
    height: 10px;
    width: 100px;
    border: 1px solid #000;
}
#life{
     height: 10px;
    width: 100px;
    background-color: green;
}
#attaque{
    margin-top: 100px;
    color: blue;
    cursor: pointer;
}
#potion{
    margin-top: 10px;
    color: green;
    cursor: pointer;
}
#rez{
    margin-top: 10px;
    color: rgb(128, 0, 0);
    cursor: pointer;
}
#fcombat{
    height: 200px;
    border: 1px solid black;
    width: 500px;
    float: right;
}