*{
    font-family: fantasy;
}
body{
    width: 50%;
    margin:  auto;
    background-image: url('img/design-tools.jpg')
}
.container{
    margin-top: 50px;
}
caption{
    background-color: #6a5acd;
}
table{
    
    background-color:#aca3fc;
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
thead{
    background-color: #e6e6fa;
    border: 2px solid #4530cc;
}
tbody{
    border: 1px solid #6a5acd
}
th{
    border: 1px dotted #6a5acd;
    padding: 4px;
    background-color: #e6E6fa;
    width: 25%;
}
tr{
    font-size: 100%;
    border: 1px dotted #6a5acd;
    padding: 5px;
}
caption{
    font-size: 2.1em;
    font-family: 'Shrikhand', cursive;
}
.nom, .code{
    border-bottom: 1px solid #6a5acd;
    height: 50px;
    padding-top: 20px;
}