#content{
    text-align: center;
    color: white;
}
header{
    border: 1px solid #000;
    height: 90px;
    
}
nav{
    background-color: #000;
    height: 40px;
    color: aliceblue;
    margin-top: -20px;;
}
section{
    border: 1px solid #000;
    background-color: rgb(86, 195, 228);
    padding: 20px;
}
.g_bloc{
    border: 1px solid #000;
    width: 49%;
    float: left;
    margin: 5px;
}
.p-bloc{
    height: 100px;
    border: 1px solid white;
    width: 49.76%;
    float: left;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
footer{
    height: 80px;
    background-color: gray;
    margin-top: -20px;
}
.clear{
    clear: both;
}