table{
    margin: 0 auto;
    border-collapse: collapse;
}
td{
    height: 20px;
    width: 20px;
}
.jaune{
    background-color: #fce02c;
}
.noir{
    background-color: black;
}
.rouge{
    background-color: #f80000;
}